<footer class="ft on-dark">
  <div class="wrap ft__in">
    <div class="ft__top">
      <div class="ft__mark">
        {{MARK}}
        <span>
          <span class="brand__name">Nick Steinmetz</span>
          <span class="brand__sub">Neurobiology &amp; Biophysics &middot; UW</span>
        </span>
      </div>
      <nav class="ft__links" aria-label="Footer">
        <a href="{{PUBS}}">Publications</a>
        <a href="{{CV}}">CV</a>
        <a href="https://www.steinmetzlab.net">Steinmetz Lab</a>
        <a href="https://scholar.google.co.uk/citations?user=PkcYP74AAAAJ&amp;hl=en">Google Scholar</a>
        <a href="https://orcid.org/0000-0001-7029-2908">ORCID</a>
        <a href="mailto:nick.steinmetz@gmail.com">Email</a>
      </nav>
    </div>
  </div>
</footer>
